{% extends "base.html" %}
{% load static %}
{% block contant %}

<div class="container bg-dark-subtle m-5 p-5">
      <div class="card text-center" style="width: 300px;">
        <img src="{% static 'mypic1.jpg' %}" class="" style="" alt="...">
        <div class="card-body">
          <h5 class="card-title">
            SAIDUL ISLAM
          </h5>
          <p class="card-text">CEO-This Restaurant</p>
          <p class="card-text">G-mail: saidulvaicsebgctub@gmail.com</p>
          <p class="card-text">Mobile : 01843534802</p>
        </div>
    </div>
</div>

{% endblock  %}