{% extends "base.html" %}

{% block contant %}
<div class="container mt-5 bg-warning">
    <div class="row text-center p-5">
        <div class="col p-5 mt-5">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, delectus sequi? Consequuntur ratione deserunt assumenda voluptatibus alias velit? Aspernatur quas vero placeat saepe ex labore. Iure nemo tenetur inventore quae.</p>
        </div>
        <div class="col p-5">
            <img src="static/res.jpg" alt="RestaurantPic">
        </div>
    </div>
</div>
{% endblock  %}